.btn {
  border: 0;
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #000;
  padding: 1rem 0.5rem;
  cursor: pointer;
}